@tailwind base;
@tailwind components;
@tailwind utilities;

.heroSection {
    background-image: url('/bg_lt.svg'),url('/bg_ct.svg'),url('/bg_lb.svg'),url('/bg_rt.svg'),url('/bg_rb.svg') ,url('/grid.png');
    background-size: 708px,101px,503px,503px,556px, 9px 9px;
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat;
    max-height: 800px;
    background-position: top -90px left -220px, top -90px center, bottom 80px left -80px, top 20px right -50px, bottom 60px right -50px, top left;
    padding-top: 16rem;
}

@media (min-width: 1280px) {
    .heroSection {
        min-height: 640px;
    }   
}

@media (min-width:640px) and (max-width:1024px) {
    .heroSection{
        background-image: url('/bg_md.png'), url('/grid.png');
        background-size: cover, 9px 9px;
        background-repeat: no-repeat, repeat;
        background-position: center, top left;
    } 
}

@media (max-width:960px) and (orientation:landscape) {
    .heroSection {
        padding-top: 24vh;
    }
}

@media (max-width:640px) {
    .heroSection {
        background-image: url('/bg_sm.png'), url('/grid.png');
        background-size: cover, 9px 9px;
        background-repeat: no-repeat, repeat;
        background-position: center center, top left;
        padding-top: 24vh;
    }
}


/* .preBanner {
    background-image: url('/pattern.png');
    background: rgb(43, 0, 128);
    background-position-y: 0;
    background-repeat: repeat;
    transition: background .2s ease-out;
} */

/* .preBanner:hover {
    background-position-y: 10%;
} */

.titleClipText {
    background-clip: text;
    color: transparent;
    background-size: 100%;

    /* background-attachment: fixed; */
}

.titleClipTextGreenOrange {
    background-image: linear-gradient(92.7deg, #38D888 30.21%, #88CE00 42.06%, #F8B703 53.39%, #F0483E 69.74%);
}

.titleClipTextGreenPurple {
    background-image: linear-gradient(91.75deg, #1CC771 26.83%, #4A9AFA 50.96%, #7E41FF 74.32%);
}

.titleClipTextPurpleYellow {
    background-image: linear-gradient(90deg, #9B6CFF 3.19%, #FF462E 59.94%, #FFA800 100%);
}

.titleClipTextOrangeBlue {
    background-image: linear-gradient(91.28deg, #FF6B00 11.57%, #B76CE1 49.9%, #0075FF 89.4%);
}

.titleClipTextBlueGreen {
    background-image: linear-gradient(92.32deg, #0080FF 25.6%, #16B2C6 49.3%, #00BA5D 70.85%);
}

.titleClipTextRedGreen {
    background-image: linear-gradient(89.81deg, #F0483E 34.86%, #522AF3 42.77%, #4E7CF8 48.21%, #39BC7A 65.24%);
}

.textClipGradientBlue {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: radial-gradient(100% 100% at 0% 100%, #5BCAFF 0%, #0066FF 100%);
}


.jobCard {
    @apply h-40 px-6 pt-6 shadow rounded-3xl cursor-pointer;
    transition: all .2s ease-in-out;
    transform: translateY(0);
    background-repeat: no-repeat;
    background-position: right 10px center, center center;
}

.jobCard:first-child {
    background-image: url('/1.png'),linear-gradient(180deg, #DAC3FF 0%, #EADDFF 100%);
    background-size: 142px 101px, 100% 100%;
}

.jobCard:nth-child(2) {
    background-image: url('/2.png'),linear-gradient(180deg, #4CF39F 0%, #99F6C7 100%);
    background-size: 115px 96px, 100% 100%;
}

.jobCard:nth-child(3) {
    background-image: url('/3.png'),linear-gradient(180deg, #44DAFB 0%, #C0FBFB 100%);
    background-size: 97px 97px, 100% 100%;
}

.jobCard:nth-child(4) {
    background-image: url('/4.png'),linear-gradient(180deg, #FFCB77 0%, #FFE3B6 100%);
    background-size: 99px 98px, 100% 100%;
}
.jobCard:nth-child(5) {
    background-image: url('/5.png'),linear-gradient(180deg, #86C2FE 0%, #BEDEFF 100%);
    background-size: 113px 106px, 100% 100%;
}

.jobCard:nth-child(6) {
    background-image: url('/6.png'),linear-gradient(180deg, #FAFF00 0%, #FDFF9F 100%);
    background-size: 114px 89px, 100% 100%;
}

.jobCard:nth-child(7) {
    background-image: url('/7.png'),linear-gradient(180deg, #A7ABFF 0%, #CCCFFF 100%);;
    background-size: 115px 83px, 100% 100%;
}

.jobCard:nth-child(8) {
    background-image: url('/8.png'),linear-gradient(180deg, #BBB7AA 0%, #E2DFD5 100%);
    background-size: 60px 90px, 100% 100%;
}

.jobCard:nth-child(9) {
    background-image: url('/9.png'),linear-gradient(180deg, #FF984E 0%, #FFCDA9 100%);
    background-size: 96px 79px, 100% 100%;
}

.jobCard:hover {
    @apply shadow-lg;
    transform: translateY(-5px);
}

.jobCard h3 {
    @apply text-2xl sm:text-3xl font-semibold text-gray-900 ;
}

.visionCardWrapper {
    border-image: url('/pattern.png');
    border-image-slice: 20;
    border-image-width: 8px;
    border-image-repeat: round;
}

.aboutPage {
    @apply w-full grid grid-cols-1 md:grid-cols-12 gap-24;   
    /* min-height: calc(100vh - 12rem); */
}

.timelineAxis {
    
}

.timelineAxis li {
    @apply hidden sm:block sm:text-2xl text-center sm:text-right text-gray-700 text-opacity-60;
    height: 80px;
    position: relative;
}


.timelineAxis li:after {
    content: "";
    position: absolute;
    right: -21px;
    top: 12px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #A3B4CC;
    background-color: #A3B4CC;
    box-sizing: border-box;
}

/* @media (max-width: 640px) {
    .timelineAxis li:before {
        display: none;
    }

    .timelineAxis li:after {
        display: none;
    }
} */

.timelineAxis li:before {
    content: "";
    position: absolute;
    right: -16px;
    top: 12px;
    height: 80px;
    border: 1px solid #A3B4CC;
}

.timelineAxis li.active {
    @apply text-5xl font-bold text-right text-blue-600;
    height: 80px;
}

.timelineAxis li.active:after {
    top: 24px;
    border: 2px solid #0080ff;
    width: 18px;
    height: 18px;
    top: 12px;
    right: -24px;
    background-color: #F2F5FA;
}

.timelineAxis li.active:before {
    top: 24px;
}

.timelineAxis li:last-child:before {
    border: none;
}

/* media */

.mediaCard {
    background-position: top 16px right 16px;
    background-size: 48px auto;
    background-repeat: no-repeat;
    opacity: 0.6;
    transition: opacity .2s ease-out;
}

.bg_13_9 {
    background-image: url('/13_9.png');
}

.bg_15_6 {
    background-image: url('/15_6.png');
}

.bg_17_8 {
    background-image: url('/17_8.png');
}

.bg_19_8 {
    background-image: url('/19_8.png');
}

.bg_20_5 {
    background-image: url('/20_5.png');
}

.bg_20_7 {
    background-image: url('/20_7.png');
}

.bg_21_1 {
    background-image: url('/21_1.png');
}

.bg_21_5 {
    background-image: url('/21_5.png');
}

.active .mediaCard {
    opacity: 1;
}

.mediaText {
    padding-right: 56px;
}

.mediaLink[href=""] {
    display: none;
}

/* Modal */
.modal {
    transition: opacity 0.15s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.modalFrame {
    max-height: calc(100vh - 10rem);
}

.scrollSmooth {
    scroll-behavior: smooth;
}